<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Account</title>
</head>
<body>
There is some data about you:
Your id is {{user.id}}
Your username is {{user.username}}
</body>
</html>