<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Recipes</title>

    <style type="text/css">
      .truncated-recipe {
        height: 70px;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: height .5s;
      }

      .left
      {
        float: left;
      }

      .right
      {
        float: right;
      }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/recipes">Cookbook</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link text-secondary" href="/recipes">Recipes <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/recipe/add">Add recipe <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <div>
            <form action="/logout" method="post">
                <input type="submit" value="Sign Out"/>
            </form>
        </div>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<div class="d-flex p-2 justify-content-center">

    <div class="row-cols-1" style="width: 740px;">
        {{#recipes}}
            <div class="card border mb-3 ">
                <a href="http://localhost:8080/recipe/page/{{id}}" class="text-decoration-none text-reset row no-gutters">
                    <div class="col-md-4">
                        {{#filename}}
                            <img src="/img/{{filename}}" class="card-img rounded-0" alt="...">
                        {{/filename}}
                        {{^filename}}
                            <img src="https://via.placeholder.com/200x200?text=Pizza+margarita" class="card-img rounded-0" alt="...">
                        {{/filename}}
                    </div>
                    <div class="col-md-8">
                        <div class="card-header rounded-0">{{title}}</div>
                        <div class="card-body rounded-0">
                            <h5 class="card-title text-primary">Recipe</h5>
                            <p class="card-text truncated-recipe px-2">{{text}}</p>
                        </div>
                        <span class="right card-footer border-0 bg-transparent text-secondary">{{time}}</span>
                        <span class="left card-footer border-0 bg-transparent text-secondary">{{author.username}}</span>
                    </div>
                </a>
            </div>
        {{/recipes}}
    </div>

</div>

















<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>