<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Registration</title>
</head>
<body>
Add new user
{{#message}}
    {{message}}
{{/message}}
<form action="/registration" method="post">
    <div><label> User Name : <input type="text" name="username" required/> </label></div>
    <div><label> Password: <input type="password" name="password" required/> </label></div>
    <div><input type="submit" value="Sign In"/></div>

</form>
</body>
</html>